<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089828653303-5su47lp3sum4racs0b9lsfomv876o4fo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089828653303-5su47lp3sum4racs0b9lsfomv876o4fo</string>
	<key>API_KEY</key>
	<string>AIzaSyDlirVaKL1AK8lRAPhBFk7ykoGdXoLnT3E</string>
	<key>GCM_SENDER_ID</key>
	<string>1089828653303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paystrapp</string>
	<key>PROJECT_ID</key>
	<string>paystrapp-cc9b7</string>
	<key>STORAGE_BUCKET</key>
	<string>paystrapp-cc9b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089828653303:ios:3f5d3c04914e352231ebf2</string>
</dict>
</plist>